<div class="lab-header">
  <div class="row text-center">
    <p class="lab-title">~/Schwartz Lab</p>
  </div>
</div>

<div id="app">

</div>
<div>
    <span><%= link_to "Maintenance", new_user_session_path%><span></br>
    <span><%= link_to "Log Out", destroy_user_session_path, :method => :delete %><span></br>
</div>
