.googleDivLayer{
  width: 1000px;
  length: 1000px;
  background-color: lightblue;
}

.googleDivLayer2{
  width: 1000px;
  length: 1000px;
  background-color: lightblue;
}

.map {
    width: 1000px;
    height: 1000px;
}
