.googleDivLayer{
  width: 2000px;
  height: 2000px;
  margin-left: 225px;
  margin-top: 50px;
  margin-bottom: 25px;
  // background-color: lightblue;
}
.googleDivLayer2{
  font-size: 20px;
  color: red;
  background-color: display;
  background-color: green;
}
.googleDivLayer3{
  // font-size: 20px;
  // color: red;
  background-color: display;
  background-color: green;
}


.map {
    width: 1000px;
    height: 1000px;
}
