.lab-header{
  margin-top: 125px;
}

.lab-title{
  color:blue;
  // background: grey;
  text-shadow: 2px 2px #4890FF;
  margin-left: 100px;
  padding-right: 100px;
  font-size: 5rem;
}


.labels-header {
  margin-top: 10px;
}

.labels-header p{
  // border: 1px solid black;
  // border-radius: 10px;
  // padding-left: 10px;
  // padding-right: 10px;
  &hover{
    background: green;
  }
}
