.lab-header{
  margin-top: 50px;
}

.lab-title{
  color:blue;
  // background: grey;
  text-shadow: 2px 2px #4890FF;
  margin-left: 100px;
  padding-right: 100px;
  font-size: 5rem;
}


.labels-header {
  margin-top: 10px;
}

.labels-header p{
  // border: 1px solid black;
  // border-radius: 10px;
  // padding-left: 10px;
  // padding-right: 10px;
  &hover{
    background: green;
  }
}

.linksHeader {
  margin-bottom: 10px;
}
.labLinks {
  // margin-left: 150px;
  // padding-left: 75px;
  // padding-right: 75px;
  font-size: 2.5vw;
  text-align: center;
  color: red;
  &:hover {
    color: green;
  }
  // border-left: solid 1px black;
  // border-right: solid 1px black
}
