.method-layer {
  margin-left: 225px;
}

.method-headers {
    color: green;
    padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    // padding-right: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 65%;
    background-color: lightblue;
    border-radius: 10px;
    list-style-type: none;
    font-size: 2vw
}

.method-document-header{
  margin-left: 100px;
}
