$dull_gray: #DAD6CA;
$sky_blue: #1BB0CE;
$grey_blue: #4F8699;
$dull_maroon:#6A5E72;
$maroon_:#563444;
$gold: #eff464;

.top-interest {
  margin-top: 10px;
  //height:500px;
  
}

.bottom-interest {
  margin-top: 10px;
}

// .right-interest {
//   position: absolute;
//   left:  700px;
//   width: 300px;
//
// }

.news {
	//border:solid 2px black;
	background-color:lighten($dull_gray, 40%);
	opacity:0.8;
	color:darken(black, 50%);
	
}

.news-header {
	margin-left:20px;
}

ul.news-bullet {
	padding-left:5px;
	list-style-type: square;
}

.small-6 {

	position:relative;
	//border: solid 2px black;
	}

span.interest-content {
//  padding-top: 30px;
  background: rgba(0,0,0,0.5);
  color: white;
  // display: table;
  top:5%;
  position:absolute; 
  left: 0px;
  margin:18px;
  //height: 84.5%;
  height:90%;
  opacity: 0;
  
}

//fade in on hover
span.interest-content:hover {
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	opacity: 1;
}

span.interest-content span {
  // display: table-cell;
  text-align: center;
  vertical-align: middle;
  top: 0px;
  
}

h5.interest-content {
  background-color:lighten($dull_gray,0%);
}

.interest-content2{
  padding-top: 10px;
  margin-top: 10px;
  
}
 img.hoverImages:hover {
   opacity: 0.5;
 }

.hoverImages {
	position:inherit;
	margin:0px;
	left:0px;
	height:100%;
	width:100%;
}

.topic-lists {
width: inherit;
height:100%;
  list-style-type: none;
  li {
      font-size: 24px;
  }
}

.membrane-label {
  margin-top: 40px;
}


.research-links{
  display: none;
}

.research-links-selected{

}

.interest-links {
    margin-top: 50px;
	position:inherit;
	width:72%;
	
  li{
    font-size: 18px;
    margin-top: 15px;
  }
  
}

.see-more-hover:hover{
  cursor: pointer
}


