.top-interest {
  margin-top: 10px;
}

.bottom-interest {
  margin-top: 10px;
}

// .right-interest {
//   position: absolute;
//   left:  700px;
//   width: 300px;
//
// }


span.interest-content {
  padding-top: 30px;
  background: rgba(0,0,0,0.5);
  color: white;
  // display: table;
  height: 200px;
  left: 15px;
  position: absolute;
  top: 37px;
  width: 305px;
  opacity: 0;
}

span.interest-content span {
  // display: table-cell;
  text-align: center;
  vertical-align: middle;
  top: 0px;
}

.interest-content2{
  padding-top: 10px;
  margin-top: 10px;

}
// img.hoverImages:hover {
//   opacity: 0.5;
// }

.interest-content:hover {
  opacity: 1;
}

.topic-lists {
  list-style-type: none;
  li {
      font-size: 25px;
  }
}
